<!DOCTYPE html>
<html>
<head>
	<title>Delete Superhero</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css')}}">
</head>
<body>

	<br><br>

	<div class="container">
		<form action="/delprocess" method="post">
			<div class="form-group">
				<label for="id" class="sr-only"></label>
				<input type="number" id="id" name="id" class="form-control" placeholder="Enter the ID" required>
			</div>

			<button class="btn btn-info" type="submit">Submit</button>

	</div>
</form>
</body>
</html>